:root {
    /* === colors === */
    --blue-600: hsl(228, 45%, 44%);
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);

    /* === typography === */
    --ff: 'InterVar', 'Inter', sans-serif;
    --fs-body: 0.875rem;
    --fs-heading: 1.375rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}